<hr>
<h3>コメント</h3>
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = "{{ page.url | absolute_url }}";
    this.page.identifier = "{{ page.url }}";
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://tripxtrip.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>コメントの表示にはJavaScriptを有効にしてください。<a href="https://disqus.com/?ref_noscript">Disqus</a></noscript>

