<hr>
<h3>コメント・感想</h3>
<script src="https://giscus.app/client.js"
        data-repo="themakoto1981/trip-trip"
        data-repo-id="R_kgDOUudeZw"
        data-category="Announcements"
        data-category-id="DIC_kwDOUudeZ84DGg-W"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ja"
        crossorigin="anonymous"
        async>
</script>
